<!-- BEGIN_INCLUDE(google-tasks:get-task-lists) -->
    <google-tasks:get-task-lists />
<!-- END_INCLUDE(google-tasks:get-task-lists) -->
<!-- BEGIN_INCLUDE(google-tasks:get-task-list-by-id) -->
    <google-tasks:get-task-list-by-id taskListId="#[map-payload:id]" />
<!-- END_INCLUDE(google-tasks:get-task-list-by-id) -->
<!-- BEGIN_INCLUDE(google-tasks:insert-task-list) -->
    <google-tasks:insert-task-list />
<!-- END_INCLUDE(google-tasks:insert-task-list) -->
<!-- BEGIN_INCLUDE(google-tasks:update-task-list) -->
    <google-tasks:update-task-list />
<!-- END_INCLUDE(google-tasks:update-task-list) -->
<!-- BEGIN_INCLUDE(google-tasks:delete-task-list) -->
    <google-tasks:delete-task-list taskListId="#[map-payload:id]"/>
<!-- END_INCLUDE(google-tasks:delete-task-list) -->
<!-- BEGIN_INCLUDE(google-tasks:delete-task) -->
    <google-tasks:delete-task taskId="#[map-payload:id]"/>
<!-- END_INCLUDE(google-tasks:delete-task) -->
<!-- BEGIN_INCLUDE(google-tasks:get-tasks) -->
    <google-tasks:get-tasks showDeleted="true"/>
<!-- END_INCLUDE(google-tasks:get-tasks) -->
<!-- BEGIN_INCLUDE(google-tasks:get-task-by-id) -->
    <google-tasks:get-task-by-id taskId="#[map-payload:id]"/>
<!-- END_INCLUDE(google-tasks:get-task-by-id) -->
<!-- BEGIN_INCLUDE(google-tasks:insert-task) -->
    <google-tasks:insert-task />
<!-- END_INCLUDE(google-tasks:insert-task) -->
<!-- BEGIN_INCLUDE(google-tasks:update-task) -->
    <google-tasks:update-task taskListId="someTaskListId" taskId="someTaskId" />
<!-- END_INCLUDE(google-tasks:update-task) -->
<!-- BEGIN_INCLUDE(google-tasks:move) -->
    <google-tasks:move parentId="#[map-payload:parentId]" taskId="#[map-payload]" />
<!-- END_INCLUDE(google-tasks:move) -->
<!-- BEGIN_INCLUDE(google-tasks:clear-tasks) -->
    <google-tasks:clear-tasks taskListId="someTaskListId" />
<!-- END_INCLUDE(google-tasks:clear-tasks) -->